.table-container{
    height:100%;
    width:100px;
    background-color:white;
    overflow: scroll;
    margin:20px;
    padding:20px auto;
  }
  th,td,tr{
    text-align:center !important;
    border:1px solid black;
}
tr:hover{
    background-color: rgb(212, 209, 209);
}
td:hover, th:hover{
    background-color: rgb(185, 185, 245);
}
.lineChart{
    height:100%;
    width:100%;
}

  #wrapper{
    display: flex;
    width: 100%;
  }
  .container {
    width: fit-content; 
    /* To adjust the height as well */ 
    height: fit-content;
  }
  .Search_Container{
      display: flex;
      flex-direction: row;
      justify-self: stretch;
  }
  .Search_Inputs_container{
      display: flex;
      flex-direction: column;
  }
  .byDay_header, .byHour_header{
      display: flex;
      flex-direction: column;
  }
